apiVersion: apps/v1
kind: Deployment
metadata:
  name: raffle
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: raffle
      version: v1
  template:
    metadata:
      labels:
        app: raffle
        version: v1
    spec:
      containers:
        - image: lhr.ocir.io/lrwuubtwxjma/constellation-images/give-a-raffle:1.0.0
          imagePullPolicy: Always
          name: raffle
          resources:
            requests:
              memory: "128Mi"
              cpu: 100m
            limits:
              memory: "128Mi"
              cpu: 100m
          ports:
            - containerPort: 3000
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: raffle-env
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: raffle-env
                  key: DB_PASSWORD
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: raffle-env
                  key: DB_HOST
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: raffle-env
                  key: DB_NAME
      imagePullSecrets:
        - name: ocirsecret
